Package           Version
----------------- -------
amqp              5.0.5
billiard          3.6.3.0
cairocffi         1.2.0
CairoSVG          2.5.2
celery            5.0.5
cffi              1.14.5
click             7.1.2
click-didyoumean  0.0.3
click-plugins     1.1.1
click-repl        0.1.6
cssselect2        0.4.1
defusedxml        0.7.1
ffmpeg-python     0.2.0
filelock          3.0.12
future            0.18.2
kombu             5.0.2
pathlib           1.0.1
pdf2image         1.14.0
Pillow            8.1.2
pip               21.0.1
preview-generator 0.15.4
prompt-toolkit    3.0.17
pycparser         2.20
pyexifinfo        0.4.0
PyPDF2            1.26.0
python-magic      0.4.22
pytz              2021.1
redis             3.5.3
setuptools        49.2.1
six               1.15.0
tinycss2          1.1.0
vine              5.0.0
Wand              0.6.6
wcwidth           0.2.5
webencodings      0.5.1
xvfbwrapper       0.2.9
